<body>
  <form [formGroup]="form" (ngSubmit)="login()">
    <img class="leaf-img" src="../../assets/images/leaf-img.png" alt="leafImg">
    <div class="form-container">
      <!----------------- form error ------------------->
      <span *ngIf="form.errors" class="invalid-user">
        {{form.errors['error']}}
      </span>
      <!----------------- Username/email ----------------->
      <div class="form-group">
        <label for="username">Email or Username</label>
        <input formControlName="username" name="username" type="text" id="username" class="form-control">
        <!----------------------- Form Validation Errors ------------------------->
        <span *ngIf="!username?.valid && username?.touched" class="input-error">
          <span *ngIf="username?.errors?.['required']"> {{"error.usernameRequired"| translate}}</span>
        </span>
      </div>
      <!----------------- password ----------------->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" name="password" class="form-control">
        <!----------------------- Form Validation Errors -------------------------------->
        <span *ngIf="!password?.valid && password?.touched" class="input-error">
          <span *ngIf="password?.errors?.['required']"> {{"error.passwordRequired"| translate}}</span>
        </span>
      </div>

      <!----------------- Sign In Btn ----------------->
      <div class="form-group">
        <button class="signin-btn" type="submit">Sign In</button>
      </div>
    </div>
  </form>
</body>