<html lang="en">

<body>
    <div class="container">
        <img class="leaf-img" src="../../assets/images/leaf-img.png" alt="leafImg">
        <div class="content-container">
            <div class="text">🚀 As an administrator, you have access to powerful tools and features to manage and
                optimize your forms.
                Formsteroids is designed to streamline your form management process, making it easier than ever to
                collect and analyze data.
            </div>
        </div>
    </div>
</body>

</html>