<html lang="en">

<body>
    <div class="container">
        <img class="leaf-img" src="../../assets/images/leaf-img.png" alt="leafImg">
        <div class="content-container">
            <h1 class="title"> Hello {{authService.getTokenDetails()?.username}}</h1>
            <div class="text">🚀 Supercharge your form-building experience with FormSteroids! Whether you're collecting
                customer feedback
                , gathering event registrations, or conducting surveys,
                FormSteroids empowers you to create sleek and effective forms effortlessly.
            </div>
        </div>
    </div>

</body>

</html>